.movieCard {
  text-align: center;
  max-height: 600px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #dddddd;
}

.movieCard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.22);
}

.details {
  height: 150px;
}

.movieCard img {
  margin: 20px 40px;
  min-height: 0;
  height: auto;
  max-width: 100%;
  border-radius: 20px;
}